html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 2px solid red;
}

body {
  font-family: $mainfonts;
  letter-spacing: 0.03em;
  color: $primery-text-color;
  background-color: $primery-white-color;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;

  color: $primery-text-color;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.167;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;

  @include for-size(mobile-portrait) {
    width: 480px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
