$primery-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$primery-white-color: #ffffff;
$footer-color: #2f303a;
$icon-color: #afb1b8;

$mainfonts: "roboto", sans-serif;
$logofonts: raleway, sans-serif;