.team {
  background-color: #f5f4fa;
}

.team-card {
  background-color: $primery-white-color;
}

.team-list {
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // display: flex;
}

.team-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: $primery-white-color;

  @include for-size(mobile-max) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 768px) and(max-width:1199px) {
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @include for-size(desktop) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-desc {
  padding-top: 30px;
}

.team-names {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: $primery-text-color;
}

.team-function {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.187;
  text-align: center;

  color: $secondary-text-color;
}
